@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400&display=swap");
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(245, 248, 248);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: black;
}
a {
  text-decoration: none;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav-link {
  margin: 0 0.8rem;
}
.nav-link:hover {
  background-color: white;
  color: goldenrod;
}
#nav-bar {
  font-size: 1.3rem;
}
#icon {
  display: none;
}
#header-img {
  width: 8rem;
  height: 5rem;
  margin-left: 5rem;
}
.border {
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
}

u {
  color: rgb(251, 255, 0);
}
span {
  color: red;
}
#betta {
  text-align: center;
}
h2 {
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
  color: white;
}
.form-label {
  text-align: center;
}
#submit {
  margin-bottom: 1rem;
  width: 5rem;
  height: 2rem;
  margin-top: 0.4rem;
  border-radius: 0.3rem;
  margin-bottom: 6rem;
  background-color: rgb(251, 255, 0);
}
#email {
  width: 25rem;
  height: 2rem;
  border-radius: 0.5rem;
}
.customer {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  margin-top: 6rem;
  color: white;
}
iframe {
  display: flex;
  margin: auto;
  margin-top: 8rem;
}
#image {
  width: 100%;
  margin-top: 8rem;
}
.card-product img {
  width: 200px;
  height: 150px;
  border-top-left-radius: 30%;
  border-top-right-radius: 10px;
}
#product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-product {
  width: 200px;
  margin-top: 100px;
  background-color: yellow;
  text-align: justify;
  color: black;
  border-radius: 30% 10px 10px 10px;
}

.product-details {
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 30px;
}

.price {
  font-weight: 800;
}

button {
  margin-top: 20px;
  padding: 10px 30px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
}
.icon-bar {
  background-color: white;
  height: 4px;
  width: 24px;
  margin: 5px 5px;
  cursor: pointer;
}
@media (max-width: 500px) {
  #icon {
    display: block;
  }
  nav {
    background-color: goldenrod;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
  }
  .active {
    right: 0;
  }
}
